.form-container {
    position: absolute;
    top: 15vh;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

body {
    background: url('/Stock/Othello Fondo.jpeg') no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100%;
}

.bg {
    background: url('/Stock/Othello Fondo.jpeg') no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100%;
}

@media only screen and (max-width: 678px) {
    .bg {
        background-size: 300%;
    }
}

.informacion {
    text-align: left;
}

.black {
    background: black !important;
}

.white {
    background: white !important;
}

.posible{
    background: gray !important;
}

.hide8 {
    width: 50px;
    height: 50px;
}

.inside {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#Tablero {
    top: 50px;
    left: 50px;
    position: absolute;
    margin: auto;
    width: 700px;
    height: 700px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

#ControlDiv{
    float: left;
    margin-left: 470px;
    justify-content: right;
    width: 700px;
    height: 100%;
    margin-top: 250px;
}

.fila{
    padding: 0px;
    background-color: darkorange;
}

.caja{
    border: 1px solid black;
    width: 62px;
    height: 62px;
    float: left;
    font-size: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellowgreen;
}

.dentro{
    background-color: white;
}

.caja-transparente {
    border: 1px solid transparent;
    width: 62px;
    height: 62px;
    float: left;
    font-size: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.caja-decorativa {
    border: 2px solid black;
    width: 62px;
    height: 62px;
    float: left;
    font-size: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}